<h4>I built this<br>
with my Bear hands.</h4>
<%= render "shared/listings-cards" %>
<!-- <div id="map"
  style="width: 100%; height: 400px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
 -->
