<div class="container mt-5">
  <div class="text-center mt-5 bg-light w-100 rounded font-weight-bold">
    <%= render "/shared/show_card.html.erb" %>
    <br>
    <br>
    <%= link_to "back to list", root_path, :class => "btn btn-light btn-md mb-2" %>
    <%= link_to "delete",
    @listing,
    method: :delete,
    data: { confirm: "Are you sure?" }, :class => "btn btn-light btn-md mb-2" %>
  </div>
</div>
