<div class="footer">
  <div class="footer-left w-70">
    <div class="footer-links">
      <p class="footer-text mr-2">© 2020 Airbnb, Inc. All rights reserved</p>
      <p>
        <i class="fas fa-circle small align-middle"></i>
      </p>
      <a class= "footer-links-text" href="">
        <p>Privacy</p>
      </a>
      <p>
        <i class="fas fa-circle small align-middle"></i>
      </p>
      <a class= "footer-links-text " href="">
        <p>Terms</p>
      </a>
      <p>
        <i class="fas fa-circle small align-middle"></i>
      </p>
      <a class= "footer-links-text" href="">
        <p>Site Map</p>
      </a>
    </div>
  </div>
  <div class="footer-links">
    <i class="fas fa-globe"></i>
    <a class= "footer-links-text"><p> English (CA)</p></a>
    <a class= "footer-links-text"><p>$ CAD</p></a>
  </div>
  <div class="footer-links">
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
</div>
