<div class="mainbanner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dwtuoc2xm/image/upload/v1590681833/bearner_wb8hco.png);">
  <div class="container">
    <h1>Experience the wildlife with Bearbnb.</h1>
    <p>Life is hard, we bearly made it through the week.</p>
    <div class="btn btn-flat">
      <%= link_to "See all destinations", listings_path %>
    </div>
  </div>
</div>
