<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Experience the wildlife with Bearbnb.</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut lacinia at metus id vestibulum.</p>
    <a class="btn btn-flat" href="#">Find a place to stay</a>
  </div>
</div>
