<div class="mainbanner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://thenypost.files.wordpress.com/2016/07/brown_bear_camping-3.jpg?quality=90&strip=all&w=1286);">
  <div class="container">
    <h1>Experience the wildlife with Bearbnb.</h1>
    <p>Life is hard, I bearly made it through the week.</p>
    <a class="btn btn-flat" href="#">Find a place to stay</a>
  </div>
</div>
