  <%= link_to "enlarge", listing_path(@listing),{:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'btn btn-primary btn-lg ml-5 mt-4'} %>
  <div id="modal-window" class="modal hide fade w-100" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content w-100">
        <%= render "/shared/modal_carosel" %>
        <div class="container m-3">
        </div>
      </div>
    </div>
  </div>



