<div class="navbar navbar-main navbar-light bg-light fixed-top">
  <div>
    <p id="banner-typed-text" class="mb-0">LOGO</p>
  </div>
  <div class="d-flex">
    <div id="right-links" class="align-middle"><a href="" class="m-1">
      <i class="fas fa-globe"></i>
      <i class="fas fa-chevron-down"></i>
    </a>
    <a class="btn btn-light btn-sm rounded" href="#">Host your home</a>
    <a class="btn btn-light btn-sm rounded"href="#">Help</a>
    </div>
    <a class="avatar-button" href="#">
    <div class="d-flex align-middle  rounded btn-sm btn btn-light ">
      <p id="nametag" class= "mb-0 ">Name</p>
      <div class= "d-flex">
        <div>
          <img class="avatar-bordered" alt="avatar-bordered" src="https://kitt.lewagon.com/placeholder/users/sarahlafer" />
        </div>
        <div class="circle bg-danger" >
          <p class= "notification-count">1</p>
        </div>
      </div>
    </div>
    </a>
  </div>
</div>


