<div class="secondbanner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dwtuoc2xm/image/upload/v1590684108/bearner2_i92xqd.png);">
  <div class="container">
    <h1>Introducing Bearbnb Experiences</h1>
    <p>Now you can meet Bears all over the world while trying something new.</p>
    <a class="btn btn-flat" style="float: right" href="#">Discover new Experiences</a>
  </div>
</div>
