// devise > shared > links.html.erb

.signup-devise-link {
  padding-top: 5px;
  color: #6d6d6d;
  font-size: 15px;
}

.signup-devise-link:hover{
  color: #dc1263;
}

.forgotpass-devise-link {
  padding-top: 5px;
  color: #6d6d6d;
  font-size: 15px;
}

.forgotpass-devise-link:hover {
  color: #dc1263;
}

.login-devise-link {
  padding-top: 5px;
  color: #6d6d6d;
  font-size: 15px;
}

.login-devise-link:hover {
  color: #dc1263;
}
