// devise > shared > links.html.erb

.signup-devise-link {
  padding-top: 5px;
  color: #5B3000;
  font-size: 15px;
}

.signup-devise-link:hover{
  color: #bc880d;
}

.forgotpass-devise-link {
  padding-top: 5px;
  color: #5B3000;
  font-size: 15px;
}

.forgotpass-devise-link:hover {
  color: #bc880d;
}

.login-devise-link {
  padding-top: 5px;
  color: #5B3000;
  font-size: 15px;
}

.login-devise-link:hover {
  color: #bc880d;
}
