@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');

.outer-box-form {
  background: #F2DD9D;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin: auto;
  padding: 80px;
  height: 430px;
  width: 500px;
}

.outer-box-signup {
  background: #F2DD9D;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin: auto;
  padding: 80px;
  height: 660px;
  width: 500px;
}

.outer-box-password {
  background: #F2DD9D;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin: auto;
  padding: 80px;
  height: 300px;
  width: 500px;
}

.outer-box-newlisting {
  background: #F2DD9D;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin: auto;
  padding: 80px;
  height: 540px;
  width: 500px;
}

.outer-box-newreview {
  background: #F2DD9D;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin: auto;
  padding: 50px;
  height: 100%;
  width: 500px;
}

.outer-box-newbooking {
  background: #F2DD9D;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin: auto;
  padding: 80px;
  height: 330px;
  width: 700px;
}


.login-title {
  text-align: center;
  color: #5B3000;
}

.login-input {
  background: #FFF6DB;
  border: 1px solid #E4E4E4;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.submit-login-button {
  border-radius: 5px;
  background-color: #E6AF2E;
  width: 100%;
  color: #5B3000;
  font-family: Roboto;
}

.submit-login-button:hover {
  background-color: #5B3000;
  color: #E6AF2E;
}

.submit-review-button {
  border-radius: 5px;
  padding: 8px;
  background-color: #E6AF2E;
  width: 100%;
  color: #5B3000;
  font-family: Roboto;
}

.submit-review-button:hover {
  background-color: #5B3000;
  color: #E6AF2E;
}

.cancel-link {
  padding-top: 5px;
  color: #5B3000;
  font-size: 15px;
}

.cancel-link:hover {
  color: #bc880d;
}

.pickdate {
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
  color: #5B3000;
  display: inline-flex;
  justify-content: space-around;
}

#checkin {
  align-items: center
}

#checkout {
  align-items: center
}

.datepicker.checkin_on {
  background: #FFF6DB;
  border: 1px solid #E4E4E4;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;

}
