.container-fx {
position: relative;
width: 200px;
height: 200px;
display: inline-block;
}

.cards-listings {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
  padding: 5px;
  flex-grow: 1;
  padding-left: 80px;
}

.image-fx {
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

.overlay {
  position: absolute;
  transition: all .3s ease;
  opacity: 0;
  background-color: #5B3000;
  border-radius: 10px;
}

.container-fx:hover .overlay {
  opacity: 1;
}

.text-card {
  color: white;
  font-family: sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-card p {
  color: #FFFFFF;
  font-size: 15px;
}

.overlayFade {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #5B3001b3;
}

.main-content {
  display: grid;
  grid-template-columns: 2fr 2fr;
  padding-right: 80px;
}

@media (max-width: 768px) {
  .cards-listings {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 576px) {
  .cards-listings {
    grid-template-columns: 1fr;
  }
}
