.navbar-main{
  justify-content: space-between;
  background: #E6AF2E;
  font-size: 18px;
}

.navbar-main .navbar-collapse {
  flex-grow: 0;
}

.navbar-main .navbar-brand img {
  width: 40px;
}

#notification{
  position: absolute;
  background: #FF0101;
  border: 1.5px solid #FFFFFF;
  box-sizing: border-box;
}

.circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: relative;
  right: 12px;
}

.notification-count {
  color:white;
  position: relative;
  bottom: 3px;
  font-size: 12px;
}

#right-links {
  position: relative;
  top: 10px;
  font-size: 18px;
}  p {
  font-size: 16px;
  color: #5B3000;
} a {
  font-size: 14px;
  color: #5B3000;
}

#nametag {
  position: relative;
  top: 8px;
  padding-right: 5px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.navbar a {
  color: #5B3000;
  text-decoration: none;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.logo {
  width: 100px;
  height: 26px;
  background-size: contain;
}
.logo:hover {

}

.medium {
  font-size: 14px;
}

.avatar-button {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.18) !important;
}



// navbar login CSS

.navbar-toggler {
  padding: 0;
}
