.navbar-main{
  justify-content: space-between;
  background: white;
  font-size: 18px;
}

.navbar-main .navbar-collapse {
  flex-grow: 0;
}

.navbar-main .navbar-brand img {
  width: 40px;
}

#notification{
  position: absolute;
  background: #FF0101;
  border: 1.5px solid #FFFFFF;
  box-sizing: border-box;
}

.circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: relative;
  right: 12px;
}

.notification-count {
  color:white;
  position: relative;
  bottom: 3px;
  font-size: 12px;
}

#right-links {
  position: relative;
  top: 10px;
  font-size: 18px;
}  p {
  font-size: 16px;
} a {
  font-size: 14px;
}

#nametag {
  position: relative;
  top: 8px;
}

.navbar a {
  color: black;
  text-decoration: none;
}

#logo {
  font-size: 28px;
}

.medium {
  font-size: 14px;
}

.avatar-button {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.18) !important;
}

// navbar login CSS

.navbar-toggler {
  padding: 0;
}
