.navbar-main{
  justify-content: space-between;
  background: white;
  vertical-align: middle;
  text-align: middle;
}

.navbar-main .navbar-collapse {
  flex-grow: 0;
}

.navbar-main .navbar-brand img {
  width: 40px;
}

#notification{
  position: absolute;
  background: #FF0101;
  border: 1.5px solid #FFFFFF;
  box-sizing: border-box;
}

.circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: relative;
  right: 10px;
}

.notification-count {
  color:white;
  position: relative;
  bottom: 1px;
  font-size: 10px;
}

#right-links {
  position: relative;
  top: 9px;
}

#nametag {
  position: relative;
  top: 9px;
}

.navbar a {
  color: black;
  text-decoration: none;
}

