.main-show {
  margin-top: 100px;
}

.soft-yellow {
  background-color: #fffef2;
}

.rounded-lg {
  border-radius: 40px;
}

.specs p {
  font-weight: lighter;
  margin-left: 5px;
}

.specs {
  text-align: center;
}

.brown {
  color: #5B3000;
}

.all-specs {
  border-radius: 20px;
  padding: 40px 3px 50px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.18) !important;
}

.listing-title {
  padding: 0px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.shadowed {
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.padded {
  padding: 20px 20px 20px;
}

.border-radius {
  border-radius: 20px !important;
}

.box-shadow {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.18) !important;
}

.center {
  margin: 0 auto;
}
.green {
  color: #0a2301;
}

.review_actions a {
  color: #E6AF2E;
  opacity: 0.8;
  text-decoration: none;
}

.review_actions a:hover {
  opacity: 1;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.18) !important;
}
